@model IEnumerable<ZenithWebsite.Models.Zenith.Event>

@{
    ViewData["Title"] = "Events for the current week";    
    var curDate = new DateTime();
    var StartEndDate = ViewData["StartendDates"] as DateTime[];
}

<h2>@ViewData["Title"]</h2>
<h5>@StartEndDate[0].ToString("D") to @StartEndDate[1].ToString("D")</h5>

<table class="table" id="main-table">

    @foreach (var item in Model)
    {
        if (item.EventFrom.Date != curDate)
        {
            <tr>
                <th colspan="3">
                    @String.Format("{0:D}", item.EventFrom)
                </th>
            </tr>
            curDate = item.EventFrom.Date;
        }
        <tr>
            <td>
                @String.Format("{0:t}", item.EventFrom) -
                @String.Format("{0:t}", item.EventTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityDesc)
            </td>
        </tr>
    }
    
</table>
