@{
    ViewData["Title"] = "Add User to Role";
    //var users = ViewData["Users"] as Dictionary<string, string>;
    var users = ViewData["Users"] as Dictionary<string, string>;
    var role = ViewData["Role"] as string;
}

<h2>@ViewData["Title"]</h2>
@*<form asp-action="AddUser">*@
    @*<input type="hidden" name="role" value="@role" />*@
<hr />
    <table>
        @foreach (var user in users)
        {
            <tr>
                <td>
                    @user.Value
                </td>
                <td>
                    <a asp-action="AddConfirmed" asp-route-id="@user.Key=@role">Add</a>
                    @*<input type="hidden" name="user" value="@user.Key" />
                    <input type="submit" value="Add" class="btn btn-default" />*@
                </td>
            </tr>
            
            @*<div class="form-actions no-color">
                <input type="submit" value="" class="btn btn-default" /> |
                <a asp-action="Index">Back to List</a>
            </div>*@
        }
    </table>
@*</form>*@



        
             
        


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
