
@{
    ViewData["Title"] = "Roles";
    var UserRoles = ViewData["UserRoles"] as Dictionary<String, List<String>>;
    var idName = ViewData["idName"] as Dictionary<string, string>;
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tbody>
        @foreach (var role in UserRoles)
        {
            <tr>
                <td>
                    Role: @idName[role.Key]
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@role.Key.ToString()">Add User</a>
                        
                </td>
            </tr>
            @foreach (var user in @role.Value)
            {
                <tr>
                    <td>
                        User: @idName[user]
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@role.Key=@user">Delete</a>
                    </td>
                </tr>
            }
         }
    </tbody>
</table>
